<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>献立る</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/show.scss">
  </head>
  
<body>
<div class="hamburger-menu">
  <input type="checkbox" id="menu-btn-check">
  <label for="menu-btn-check" class="menu-btn"><span></span></label>
  <div class="menu-content">
    <ul>
      <li><a href="#userpost">投稿した料理</a></li>
      <li><a href="#userlike">いいねした料理</a></li>
      <li><a href="#usercomment">コメントした料理</a></li>
    </ul>
  </div>
</div>
<div class="user-profile">
<h2>プロフィール</h2>
<div class="user-white-block">
  <div class="user-logout">
    <span>ログアウト</span>
    <% if current_user.id == @user.id %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <p><i class="fas fa-sign-out-alt fa-lg"></i></p>
      <% end %>
    <% end %>
  </div>
  <div class="profile-container">
    <div class="user-icon">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar_url, class: 'icon' %>
    <% else %>
      <%= image_tag ("knife_and_folk.png"), size: "100x100", class: 'icon' %>
    <% end %>
    </div>
    <div class="user-info">
      <h3><%= @user.name %></h3>
      <p><%= @user.profile %></p>
    </div>
  </div>
</div>
<div class="edit-btn">
  <% if current_user.id == @user.id %>
    <%= link_to edit_user_registration_path do %>
      <p>プロフィールを編集<i class="fas fa-edit"></i></p>
    <% end %>
  <% end %>
  <a class="link" href="/users/edit" ></a>
</div>
</div>
<p id="userpost"></p>
<div class="user-post-meals">
<h2>投稿した料理</h2>
<% @user.meals.order("id DESC").each do |usm| %>
  <div class="meals-container">
  <div class="meal">
    <% if user_signed_in? && current_user.id == usm.user_id %>
      <i class="fas fa-feather"></i>
    <% end %>
    <p class="mealname"><%= usm.name %></p>
    <% if usm.image? %>
        <%= image_tag usm.image_url, size: "250x200" %>
    <% else %>
        <%= image_tag ("no_image.png"), size: "250x200" %>
    <% end %>
    <p class="time">
      <p>作成日: <%= usm.created_at.to_s(:datetime_jp) %></p>
      <p>更新日: <%= usm.updated_at.to_s(:datetime_jp) %></p>
    </p>
    <a class="link" href="/meals/<%= usm.id %>" >
    <div class="mask">
        <div class="caption">
          <%= image_tag ("to_show.png"),  width: '100%', height: '100%' %>
        </div>
    </div>
    </a>
  </div>
  <div class="post-sidemenu">
    <div class="like">
      <% if user_signed_in? %>
          <% if current_user.already_liked?(usm) %>
              <%= link_to meal_like_path(id: usm.id, meal_id: usm.id), method: :delete do %>
                  <i class="fas fa-heart fa-lg"></i><span><%= usm.likes.count %></span>
              <% end %>
          <% else %>
              <%= link_to meal_likes_path(id: usm.id, meal_id: usm.id), method: :post do %>
                  <i class="far fa-heart fa-lg"></i><span><%= usm.likes.count %></span>
              <% end %>
          <% end %>
      <% else %>
          <i class="far fa-heart fa-lg"></i><span><%= usm.likes.count %></span>
      <% end %>
    </div>
    <div class="edit-icon">
      <%= link_to edit_meal_path(usm.id) do %>
        <p><span><i class="fas fa-edit fa-lg"></i>編集</span></p>
      <% end %>
    </div>
    <div class="delete-icon">
      <%= link_to meal_path(usm.id), method: :delete, data: {confirm: "削除しますか？"} do %>
        <p><span><i class="fas fa-trash-alt fa-lg"></i>削除</span></p>
      <% end %>
    </div>
  </div>
  </div>
  <% end %>
</div>
<p id="userlike"></p>
<div class="user-like-meals">
<h2>いいねした料理</h2>
<% @user.liked_meals.each do |like| %>
  <div class="meals-container">
  <div class="meal">
    <% if user_signed_in? && current_user.id == like.user_id %>
      <i class="fas fa-feather"></i>
    <% end %>
    <p class="mealname"><%= like.name %></p>
    <% if like.image? %>
        <%= image_tag like.image_url, size: "250x200" %>
    <% else %>
        <%= image_tag ("no_image.png"), size: "250x200" %>
    <% end %>
    <p class="time">
      <p>作成日: <%= like.created_at.to_s(:datetime_jp) %></p>
      <p>更新日: <%= like.updated_at.to_s(:datetime_jp) %></p>
    </p>
    <a class="link" href="/meals/<%= like.id %>" >
    <div class="mask">
        <div class="caption">
          <%= image_tag ("to_show.png"),  width: '100%', height: '100%' %>
        </div>
    </div>
    </a>
  </div>
  <div class="like">
    <% if user_signed_in? %>
        <% if current_user.already_liked?(like) %>
            <%= link_to meal_like_path(id: like.id, meal_id: like.id), method: :delete do %>
                <i class="fas fa-heart fa-lg"></i><span><%= like.likes.count %></span>
            <% end %>
        <% else %>
            <%= link_to meal_likes_path(id: like.id, meal_id: like.id), method: :post do %>
                <i class="far fa-heart fa-lg"></i><span><%= like.likes.count %></span>
            <% end %>
        <% end %>
    <% else %>
        <i class="far fa-heart fa-lg"></i><span><%= like.likes.count %></span>
    <% end %>
  </div>
  </div>
<% end %>
</div>
<p id="usercomment"></p>
<div class="comment-wrapper">
<h2>コメントした料理</h2>
<% @user.comments.each do |c| %>
  <div class="comment">
    <div class="comment-content">
      <p><%= c.content %><p>
      <p class="time">
        <%= c.created_at.to_s(:datetime_jp) %>
      </p>
    </div>
    <%= link_to meal_path(c.meal.id) do %>
      <div class="do_comment_meal">
      <p class="mealname"><%= c.meal.name %></p>
      <% if c.meal.image? %>
          <%= image_tag c.meal.image_url, size: "125x100" %>
      <% else %>
          <%= image_tag ("no_image.png"), size: "125x100" %>
      <% end %>
      <a class="link" href="/meals/<%= c.meal.id %>" ></a>
      </div>
    <% end %>
  </div>
<% end %>
</div>

</body>
</html>
