<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>献立る</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/search.scss">
  </head>
<body>
<div class="search-meals">
<h3>おすすめの献立</h3>
<div class="condition">
  <% if @results.first %>
  <h4>検索条件</h4>
    <p>気分: 
    <% if @results.first.feeling? %>
      <%= @results.first.feeling %>
    <% else %>指定なし
    <% end %></p>
    <p>食材: 
    <% if @results.first.ingredient? %>
      <%= @results.first.ingredient %>
    <% else %>指定なし
    <% end %></p>
    <p>時間帯: 
    <% if @results.first.time? %>
      <%= @results.first.time %>
    <% else %>指定なし
    <% end %></p>
    <p>種類: 
    <% if @results.first.kinds? %>
      <%= @results.first.kinds %>
    <% else %>指定なし
    <% end %></p>
    <p>ポジション: 
    <% if @results.first.dish? %>
      <%= @results.first.dish %>
    <% else %>指定なし
    <% end %></p>
  <% else %>
    <p>条件に合う献立を見つけられませんでした</p>
    <% if user_signed_in? %>
      <p><%= link_to '献立を増やす', new_meal_path %></p>
    <% else %>
      <p><%= link_to '献立を増やす', user_session_path %></p>
    <% end %>
  <% end %>
  <%= link_to "検索条件を変える", meals_path %>
</div>
<% @results.each do |meal| %>
  <%= link_to meal_path(meal.id) do %>
  <div class="meal">
    <div class="left-container">
      <p><%= meal.name %></p>
      <p><%= image_tag meal.image_url, size: "250x200" if meal.image? %></p>
    </div>
    <div class="right-container">
    <p><% if user_signed_in? %>
      <% if current_user.already_liked?(meal) %>
        <%= link_to meal_like_path(id: meal.id, meal_id: meal.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= meal.likes.count %>
        <% end %>
      <% else %>
        <%= link_to meal_likes_path(id: meal.id, meal_id: meal.id), method: :post do %>
          <i class="far fa-heart"></i><%= meal.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <i class="far fa-heart"></i><%= meal.likes.count %>
    <% end %></p>
    <%= link_to meal_path(meal.id) do %>
      <i class="fas fa-info-circle"></i>詳細
    <% end %>
    <% if user_signed_in? && current_user.id == meal.user_id %>
      <%= link_to edit_meal_path(meal.id) do %>
        <i class="fas fa-edit"></i>編集
      <% end %>
      <%= link_to meal_path(meal.id), method: :delete do %>
        <i class="fas fa-trash-alt"></i>削除
      <% end %>
    <% end %>
    <p class="time">
    作成日<%= meal.created_at.to_s(:datetime_jp) %>
    更新日<%= meal.updated_at.to_s(:datetime_jp) %></p>
    </div>
  </div>
  <% end %>
<% end %>
</div>
</body>
</html>