<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>献立る</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/search.scss">
  </head>
<body>
<div class="search-meals">
  <h3>おすすめの献立</h3>
  <div class="condition">
  <h4>検索条件</h4>
    <div class="meal-detail">
      <div class="detail-title">
        <p><i class="far fa-comment-dots"></i> 気分</p>
        <p><i class="fas fa-seedling"></i> 食材</p>
        <p><i class="far fa-clock"></i> 時間帯</p>
        <p><i class="far fa-calendar-minus"></i> ジャンル</p>
        <p><i class="fas fa-utensils"></i> ポジション</p>
      </div>
      <div class="detail-content">
        <p><%= params[:q][:feeling_eq] unless params[:q][:feeling_eq].empty? %><%= '指定なし' if params[:q][:feeling_eq].empty? %></p>
        <p><%= params[:q][:ingredient_eq] unless params[:q][:ingredient_eq].empty? %><%= '指定なし' if params[:q][:ingredient_eq].empty? %></p>
        <p><%= params[:q][:time_eq] unless params[:q][:time_eq].empty? %><%= '指定なし' if params[:q][:time_eq].empty? %></p>
        <p><%= params[:q][:kinds_eq] unless params[:q][:kinds_eq].empty? %><%= '指定なし' if params[:q][:kinds_eq].empty? %></p>
        <p><%= params[:q][:dish_eq] unless params[:q][:dish_eq].empty? %><%= '指定なし' if params[:q][:dish_eq].empty? %></p>
      </div>
    </div>
    <% unless @results.first %>
    <%= image_tag ("sorry.png"), width: '80%', height: '60%' %>
    <p>条件に合う献立を見つけられませんでした</p>
    <% if user_signed_in? %>
      <p><%= link_to '献立を増やす', new_meal_path %></p>
    <% else %>
      <p><%= link_to '献立を増やす', user_session_path %></p>
    <% end %>
  <% end %>
  <%= link_to "検索条件を変える", meals_path %>
  </div>
  <% @results.each do |meal| %>
    <div class="meals-container">
    <div class="meal">
      <p class="mealname"><%= meal.name %></p>
      <% if meal.image? %>
          <%= image_tag meal.image_url, size: "250x200" %>
      <% else %>
          <%= image_tag ("no_image.png"), size: "250x200" %>
      <% end %>
      <p class="time">
      <p>作成日: <%= meal.created_at.to_s(:datetime_jp) %></p>
      <p>更新日: <%= meal.updated_at.to_s(:datetime_jp) %></p>
      </p>
      <a class="link" href="/meals/<%= meal.id %>">
      <div class="mask">
        <div class="caption">
          <%= image_tag ("to_show.png"),  width: '100%', height: '100%' %>
        </div>
      </div>
      </a>
    </div>
    <div class="like">
    <% if user_signed_in? %>
      <% if current_user.already_liked?(meal) %>
        <%= link_to meal_like_path(id: meal.id, meal_id: meal.id), method: :delete do %>
          <i class="fas fa-heart fa-lg"></i><%= meal.likes.count %>
        <% end %>
      <% else %>
        <%= link_to meal_likes_path(id: meal.id, meal_id: meal.id), method: :post do %>
          <i class="far fa-heart fa-lg"></i><%= meal.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <i class="far fa-heart fa-lg"></i><%= meal.likes.count %>
    <% end %>
    </div>
    </div>
  <% end %>
</div>
</body>
</html>