<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>献立る</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/show.scss">
  </head>
<div class="meal-show">
<div class="meal">
  <p class="mealname"><%= @meal.name %></p>
  <% if @meal.image? %>
      <%= image_tag @meal.image_url, size: "250x200" %>
  <% else %>
      <%= image_tag ("no_image.png"), size: "250x200" %>
  <% end %>
  <div class="meal-detail">
    <div class="detail-title">
      <p><i class="far fa-comment-dots"></i> 気分</p>
      <p><i class="fas fa-seedling"></i> 食材</p>
      <p><i class="far fa-clock"></i> 時間帯</p>
      <p><i class="far fa-calendar-minus"></i> ジャンル</p>
      <p><i class="fas fa-utensils"></i> ポジション</p>
    </div>
    <div class="detail-content">
      <p><%= @meal.feeling if @meal.feeling? %><%= '指定なし' unless @meal.feeling? %></p>
      <p><%= @meal.ingredient if @meal.ingredient?%><%= '指定なし' unless @meal.ingredient? %></p>
      <p><%= @meal.time if @meal.time? %><%= '指定なし' unless @meal.time? %></p>
      <p><%= @meal.kinds if @meal.kinds? %><%= '指定なし' unless @meal.kinds? %></p>
      <p><%= @meal.dish if @meal.dish? %><%= '指定なし' unless @meal.dish? %></p>
    </div>
  </div>
  <div class="like_and_comment">
  <div class="do_like">
  <% if user_signed_in? %>
    <% if current_user.already_liked?(@meal) %>
        <%= link_to meal_like_path(@meal), method: :delete do %>
          <p><i class="fas fa-heart fa-lg"></i><%= @meal.likes.count %></p>
          <p>いいねする</p>
        <% end %>
    <% else %>
        <%= link_to meal_likes_path(@meal), method: :post do %>
          <p><i class="far fa-heart fa-lg"></i><%= @meal.likes.count %></p>
          <p>いいねする</p>
        <% end %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
    <p><i class="far fa-heart"></i><%= @meal.likes.count %></p>
    <p>ログインしていいねする</p>
    <% end %>
  <% end %>
  </div>
  <div class="do_comment">
  <% if user_signed_in? %>
    <%= form_with(model: [@meal, @comment], local: true) do |f| %>
      <p><%= f.text_area :content %></p>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
    <p><i class="far fa-comments"></i></p>
    <p>ログインしてコメントする<p>
    <% end %>
  <% end %>
  </div>
  </div>
  <% if user_signed_in? && current_user.id == @meal.user_id %>
    <%= link_to edit_meal_path(@meal.id) do %>
      <span><i class="fas fa-edit"></i>編集する</span>
    <% end %>
    <%= link_to meal_path(@meal.id), method: :delete, data: {confirm: "削除しますか？"} do %>
      <span><i class="fas fa-trash-alt"></i>削除する</span>
    <% end %>
  <% end %>
  <p class="time">
  <p>作成日: <%= @meal.created_at.to_s(:datetime_jp) %></p>
  <p>更新日: <%= @meal.updated_at.to_s(:datetime_jp) %></p>
  </p>
</div>
<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div class="comment">
      <div class="comment-content">
        <p><%= c.content %><p>
        <p class="time">
          <%= c.created_at.to_s(:datetime_jp) %>
        </p>
        <% if user_signed_in? && current_user.id == c.user_id %>
          <p><%= link_to 'このコメントを削除', comment_path(c.id), data: {confirm: '本当に削除しますか？'}, method: :delete %>
        <% end %>
      </div>
      <div class="comment-user">
        <% if c.user.avatar? %>
          <%= image_tag c.user.avatar_url, class: 'icon' unless c.user.blank? %>
        <% else %>
          <%= image_tag ("knife_and_folk.png"), size: "100x100", class: 'icon' %>
        <% end %>
        <p><h4><%= c.user.name unless c.user.name.blank? %></h4></p>
      </div>
    </div>
  <% end %>
</div>
</div>
</html>
