<!DOCTYPE html>
<html>
  <head>
    <title>献立る</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1>献立る</h1>
    <div class="header-list">
      <ul>
        <%= link_to meals_path do %>
          <span>ホーム</span>
          <li><i class="fas fa-home fa-lg"></i></li>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user.id) do %>
            <span>マイページ</span>
            <li><i class="fas fa-smile fa-lg"></i></li>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do%>
            <span>ログイン</span>
            <li><i class="fas fa-sign-in-alt fa-lg"></i></li>
          <% end %>
        <% end %>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <div class="top-btn">
      <a href="#">
      <i class="fas fa-chevron-circle-up"></i>ページ上部へ
      </a>
    </div>
    <div class="under-menu-box">
      <ul>
        <% if user_signed_in? %>
          <li><a href="/meals/new"><p><i class="fas fa-search-plus fa-lg"></i></p>
          <span>献立を増やす</span></a></li>
        <% else %>
          <li><a href="/users/sign_in"><p><i class="fas fa-search-plus fa-lg"></i></p>
          <span>献立を増やす</span></a></li>
        <% end %>
        <li><a href="/meals#ranking"><p><i class="fas fa-fire-alt fa-lg"></i></p>
        <span>人気の献立</span></a></li>
        <li><a href="/meals#recent"><p><i class="fas fa-thumbtack fa-lg"></i></p>
        <span>最近の献立</span></a></li>
      </ul>
    </div>
    <footer>
      <p>Copyright ©️ GeekSalon All Rights Reserved.</p>
    </footer>
  </body>
</html>
